################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Microservices/.vs/Microservices
/Microservices/App.Web/obj
/Microservices/Blazor.CustomerReports/obj
/Microservices/Microservices/obj
/Microservices/Microservices.Base/obj
/Microservices/Microservices.Core/obj
/Microservices/Microservices.Core.Domain/obj
/Microservices/Microservices.Core.Public/obj
/Microservices/Microservices.Customers/obj
/Microservices/Microservices.Customers.Domain/obj
/Microservices/Microservices.Customers.Public/obj
/Microservices/Microservices.Integrations/obj
/Microservices/Microservices.Logistics/obj
/Microservices/Microservices.Logistics.Domain/obj
/Microservices/Microservices.Logistics.Public/obj
/Microservices/Microservices.Providers/obj
/Microservices/Microservices.Providers.Domain/obj
/Microservices/Microservices.Providers.Public/obj
/Microservices/App.Web/bin/Debug/net8.0
/Microservices/Blazor.CustomerReports/bin/Debug/net8.0
/Microservices/Microservices/bin/Debug/net8.0
/Microservices/Microservices.Base/bin/Debug/net8.0
/Microservices/Microservices.Core/bin/Debug/net8.0
/Microservices/Microservices.Core.Domain/bin/Debug/net8.0
/Microservices/Microservices.Core.Public/bin/Debug/net8.0
/Microservices/Microservices.Customers/bin/Debug/net8.0
/Microservices/Microservices.Customers.Domain/bin/Debug/net8.0
/Microservices/Microservices.Customers.Public/bin/Debug/net8.0
/Microservices/Microservices.Integrations/bin/Debug/net8.0
/Microservices/Microservices.Logistics/bin/Debug/net8.0
/Microservices/Microservices.Logistics.Domain/bin/Debug/net8.0
/Microservices/Microservices.Logistics.Public/bin/Debug/net8.0
/Microservices/Microservices.Providers/bin/Debug/net8.0
/Microservices/Microservices.Providers.Domain/bin/Debug/net8.0
/Microservices/Microservices.Providers.Public/bin/Debug/net8.0
/Microservices/.vs/ProjectEvaluation
/Microservices/bin/Debug
/Microservices/obj
/Microservices/Microservices.Core.Domain.Tests/obj
/Microservices/Microservices.Core.Domain.Tests/bin/Debug/net8.0
/Microservices/Microservices.Infrastructure/obj
/Microservices/Microservices.Persistence/bin/Debug/net8.0
/Microservices/Microservices.Persistence/obj
/Microservices/Microservices.Infrastructure/bin/Debug/net8.0
